.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 40px;
    
}
.cart-container{
    position: sticky;
    top: 0;
    right: 0;
padding: 20px;
height: 100vh;
background: rgba(255, 153, 0, 0.3);
border-radius: 8px;
}
