.product{
    width: 300px;
    height: 460px;
    border: 2px solid #989696;
    border-radius:8px 8px 0 0;
}
.product img{
    width: 286px;
    height: 286px;
    margin: 7px;
    border-radius: 8px;
}
.card-body h3{
    padding:0 15px;
    margin: 0;

}
.card-body h4{
    padding:0 15px;
    margin:10px 0 40px ;

}
.card-body p{
    padding:0 15px;
    margin: 0;

}
.btn{
    background-color: #f1bd79;
    border-top: none;
    border-bottom: 2px solid #989696;
    border-right: 2px solid #989696;
    border-left: 2px solid #989696;
    border-radius:0 0 7px 7px;
    width: 100%;
    padding: 15px;
    cursor: pointer;

}
.btn:hover{
    background-color: #ffbb47;
}